[Unit]
Description=Schedule the disk usage check service

[Timer]
OnUnitActiveSec=300s
OnBootSec=10s
RandomizedDelaySec=10s

[Install]
WantedBy=timers.target
