[user]
   name = James Barwell
   email = jb@jamesbarwell.co.uk

[alias]
    ci = commit
    st = status -sb
    co = checkout
    di = diff
    dis = diff --staged
    br = branch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    cia = commit --amend
    cia-now = commit --amend --date="$(now)"
    review = log HEAD --not origin/master --reverse -p
    reviewbr = "!f() { git log $1 --not origin/master --reverse -p; }; f"
    rebaseroot = rebase -i --root
    clean-local = !sh -c 'git branch --merged | xargs git branch -d' -
    reviewrelease = log --pretty=format:"%h%x09%an%x09%x09%s"

[core]
    editor = vim

[color]
   diff = auto
   status = auto
   branch = auto
   ui = true

[merge]
    tool = vimdiff

[push]
    default = current
    autoSetupRemote = true
